h1{
    background-color: aliceblue;
    font-size: large;
     padding: 10px;
    margin: 10px;
    text-align: center;



}

p{
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: blueviolet;
    



}